body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Formulario {
    width: 500px;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 5px;
    margin-bottom: 1000px;  /* ¿Por qué se está utilizando este valor tan grande? */
}

.Form {
    padding: 20px;
    margin-top: -20px;  /* Corregido a margin-top */
}

.content {
    padding: 20px;
    margin-top: -20px;  /* Corregido a margin-top */
}

form {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #333;
    margin-bottom: 20px;  /* Añadido para dar espacio en la parte inferior del título */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #f84545;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.Titulo-Entrada {
    margin-bottom: 20px;
}


.hidden{
    
    display: table-cell;
   
   }
   .nav{ 
   
   position: relative;   
   }
   
   table {
       position: relative;
       top: 10px;
     }
     #myTable_wrapper {
       margin-top: 10px;
     }
   
     #myTable_wrapper .accionesCell {
       position: sticky;
       top: 0;
     }
     #botones{
       margin-top: 80px;
     }